# Managed by Ansible

{% for server in common_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift

makestep 1.0 3

rtcsync

keyfile /etc/chrony/chrony.keys

leapsectz right/UTC

logdir /var/log/chrony
