------------------------------------------------------------
Managed by Ansible

Hostname : {{ inventory_hostname }}
Realname : {{ ansible_facts['hostname'] }}
Timezone : {{ common_timezone }}

Unauthorized access is prohibited.

Manual changes to this system may be overwritten.
------------------------------------------------------------
