[DEFAULT]
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

# don't lock yourself out during dev
#ignoreip = 127.0.0.1/8 10.0.0.0/24
#[sshd]
#enabled = true

# Backend
backend = {{ fail2ban_backend }}

# Firewall integration
banaction = {{ fail2ban_banaction }}

# Trusted networks
ignoreip = {{ fail2ban_ignore_ips | join(' ') }}


[sshd]

enabled = {{ fail2ban_sshd_enabled | lower }}
port = {{ fail2ban_sshd_port }}


[recidive]

enabled = {{ fail2ban_recidive_enabled | lower }}
